@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.image-holder {
    @apply w-20 h-20 flex items-center justify-center bg-white border-gray-200 rounded-full;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes horizontal-shaking {
    0% {
        transform: translateY(-200px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateX(8px)
    }
    70% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(4px);
    }
    90% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0);
    }
}

.popup-enter-from,
.popup-leave-to {
    transform: translateY(-200px);
}

.popup-enter-to,
.popup-leave-from {
    transform: translateY(0);
}

.popup-enter-active,
.popup-leave-active {
    transition: all ease-out .30s;
}

.popup-enter-active {
    animation: horizontal-shaking .50s;
}

.fade-enter-active {
    animation: bounce-in 0.5s;
}

.fade-leave-active {
    animation: bounce-in 0.5s reverse;
}

.cards-enter-from,
.cards-leave-to {
    opacity: 0;
    transform: scale(0);
}

.cards-enter-to,
.cards-leave-from {
    opacity: 1;
    transform: scale(100%);
}

.cards-enter-active,
.cards-leave-active {
    transition: all ease-out .30s;
}